{% ckan_extends %}

{% block package_resources %}
  {% if pkg.resources %}
    {# Hide the Data Package zip resource from the list of resources. #}
    {% set zip_res = h.pop_datapackage_zip_res(pkg) %}
    {% if zip_res %}
      <div style="float:right">
        <a href="{{ zip_res.url }}" class="btn btn-default btn-light" id="download_datapackage_button">
          <i class="fa fa-arrow-circle-down fa-arrow-circle-o-down"></i>{{ _('Download Data Package') }}
        <a>
      </div>
    {% endif %}
  {% endif %}
  <div class="clearfix"></div>
  {{ super() }}
{% endblock %}
